@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Work Sans;
}
#hero {
  background: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("/assets/hero-bg.png");
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-content {
  width: 800px;
  text-align: center;
}
#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);

  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 8px;
}
#hero .hero-content .title {
  color: rgb(255, 255, 255);

  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 8px;
}
#hero .hero-content .description {
  color: rgb(255, 255, 255);

  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 8px;
}
.btn {
  border-radius: 8px;
  background-color: rgb(82, 195, 3);
  padding: 15px 20px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
/* card section */
#card-box {
  margin: 2rem auto;
  text-align: center;
  width: 1200px;
}
.card-header {
  margin: 0 auto;
  width: 700px;
}
.card-header-subtitle {
  color: rgb(16, 16, 16, 0.6);
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 1.5rem;
}
.card-header-desc {
  color: rgb(16, 16, 16);

  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 2.5rem;
}
.card-details {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 300px;
}
.card img {
  width: 300px;
}
.card-title {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  background-color: rgba(82, 195, 3, 0.15);
}
.card-sell {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  margin: 1rem 0;
}
.card-desc {
  color: rgb(16, 16, 16);
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  opacity: 0.7;
  width: 300;
}
/* About Us  */
#about-us {
  display: flex;
  /* justify-content: space-between; */
  width: 1200px;
  margin: 0 auto;
}
.about-us-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.social-image {
  width: 1.5rem;
}
.about-us-title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.about-us-desc {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.social {
  text-align: center;
  margin: 1rem;
}
.social-image-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.follow {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.follow-us {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  margin-bottom: 1rem;
}
.about-us-img {
  width: 50%;
}
.foods {
  width: 100%;
}
